@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kalnia:wght@100..700&family=Kumbh+Sans:wght@100..900&family=Manrope:wght@200..800&family=Metrophobic&family=Nabla&family=Silkscreen:wght@400;700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kalnia:wght@100..700&family=Kumbh+Sans:wght@100..900&family=Manrope:wght@200..800&family=Metrophobic&family=Nabla&family=Shrikhand&family=Silkscreen:wght@400;700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-weight: 480;
  color: #fff;
}

.name {
  background: linear-gradient(90deg, #fff 66.5%, #2c2c2c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.talk {
  border-radius: 16px;
  background: var(--purple-port, #6f00b9);
  backdrop-filter: blur(2px);
}

.gal {
  border-radius: 16px;
  background: linear-gradient(90deg, #6f00b9 0%, #320053 100%);
}

.image-service {
  border-radius: 20px 20px 0px 20px;
  background: rgba(129, 129, 129, 0.7);
}

.service-box {
  box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.25);
}

.star {
  border-bottom: 0.5px solid #000;
  background: #fff;
}

.top {
  border-top: 0.5px solid #000;
  background: #fff;
}

.name2 {
  background: linear-gradient(90deg, #000 28.34%, #393838 52.12%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.talk-contact {
  border-radius: 16px;
  background: var(--lets-talk-off, #484649);
  backdrop-filter: blur(2px);
}

.card {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.2);
}
